In [1]:
import numpy as np
import pandas as pd

In [2]:
originalData = pd.read_csv('/Users/ujwal/data/stonybrook/spring2020/visualization/project/data/globalterrorismdb_0718dist.csv', encoding = "ISO-8859-1")

C:\Users\ujwal\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
originalData.shape

(181691, 135)

In [34]:
columns = ['eventid','iyear','imonth','iday','extended','country','country_txt','region','region_txt','provstate','city','latitude','longitude','specificity','vicinity','location','summary','crit1','crit2','crit3','doubtterr','multiple','success','suicide','attacktype1','attacktype1_txt','targtype1','targtype1_txt','targsubtype1','targsubtype1_txt','natlty1','natlty1_txt','gname','guncertain1','individual','weaptype1','weaptype1_txt','weapsubtype1','weapsubtype1_txt','nkill','nwound','property','ishostkid']

In [35]:
tempData = originalData[columns]

In [94]:
tempData.shape

(181691, 43)

In [99]:
tempData.drop(tempData[tempData['country_txt']=='International'].index, inplace = True)
tempData.drop(tempData[tempData['country_txt']=='St. Kitts and Nevis'].index, inplace = True)
tempData.drop(tempData[tempData['country_txt']=='St. Lucia'].index, inplace = True)
tempData.drop(tempData[tempData['country_txt']=='Yugoslavia'].index, inplace = True)

C:\Users\ujwal\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [100]:
tempData.shape

(181484, 43)

In [133]:
tempData.reset_index(inplace=True, drop=True)

In [77]:
currentNames = {'Czechoslovakia':'Czech Republic', 'East Germany (GDR)':'Germany', 'West Germany (FRG)':'Germany',
                'People\'s Republic of the Congo':'Republic of Congo', 'New Hebrides':'Vanuatu', 'North Yemen':'Yemen',
                'South Yemen':'Yemen', 'Rhodesia':'Zimbabwe', 'Serbia-Montenegro':'Serbia', 'South Vietnam':'Vietnam', 
                'Soviet Union':'Russia', 'Vatican City':'Italy', 'Zaire':'Democratic Republic of the Congo'}

In [110]:
tempData = tempData.replace({'country_txt': currentNames})

In [113]:
countryCodes = {'Afghanistan':'AFG', 'Albania':'ALB', 'Algeria':'DZA', 'Andorra':'AND', 'Angola':'AGO', 'Antigua and Barbuda':'ATG', 'Argentina':'ARG', 'Armenia':'ARM', 'Australia':'AUS', 'Austria':'AUT', 'Azerbaijan':'AZE', 'Bahamas':'BHS', 'Bahrain':'BHR', 'Bangladesh':'BGD', 'Barbados':'BRB', 'Belarus':'BLR', 'Belgium':'BEL', 'Belize':'BLZ', 'Benin':'BEN', 'Bhutan':'BTN', 'Bolivia':'BOL', 'Bosnia-Herzegovina':'BIH', 'Botswana':'BWA', 'Brazil':'BRA', 'Brunei':'BRN', 'Bulgaria':'BGR', 'Burkina Faso':'BFA', 'Burundi':'BDI', 'Cambodia':'KHM', 'Cameroon':'CMR', 'Canada':'CAN', 'Central African Republic':'CAF', 'Chad':'TCD', 'Chile':'CHL', 'China':'CHN', 'Colombia':'COL', 'Comoros':'COM', 'Costa Rica':'CRI', 'Croatia':'HRV', 'Cuba':'CUB', 'Cyprus':'CYP', 'Czech Republic':'CZE', 'Democratic Republic of the Congo':'COD', 'Denmark':'DNK', 'Djibouti':'DJI', 'Dominica':'DMA', 'Dominican Republic':'DOM', 'East Timor':'TLS', 'Ecuador':'ECU', 'Egypt':'EGY', 'El Salvador':'SLV', 'Equatorial Guinea':'GNQ', 'Eritrea':'ERI', 'Estonia':'EST', 'Ethiopia':'ETH', 'Falkland Islands':'FLK', 'Fiji':'FJI', 'Finland':'FIN', 'France':'FRA', 'French Guiana':'GUF', 'French Polynesia':'PYF', 'Gabon':'GAB', 'Gambia':'GMB', 'Georgia':'GEO', 'Germany':'DEU', 'Ghana':'GHA', 'Greece':'GRC', 'Grenada':'GRD', 'Guadeloupe':'GLP', 'Guatemala':'GTM', 'Guinea':'GIN', 'Guinea-Bissau':'GNB', 'Guyana':'GUY', 'Haiti':'HTI', 'Honduras':'HND', 'Hong Kong':'HKG', 'Hungary':'HUN', 'Iceland':'ISL', 'India':'IND', 'Indonesia':'IDN', 'Iran':'IRN', 'Iraq':'IRQ', 'Ireland':'IRL', 'Israel':'ISR', 'Italy':'ITA', 'Ivory Coast':'CIV', 'Jamaica':'JAM', 'Japan':'JPN', 'Jordan':'JOR', 'Kazakhstan':'KAZ', 'Kenya':'KEN', 'Kosovo':'OSA', 'Kuwait':'KWT', 'Kyrgyzstan':'KGZ', 'Laos':'LAO', 'Latvia':'LVA', 'Lebanon':'LBN', 'Lesotho':'LSO', 'Liberia':'LBR', 'Libya':'LBY', 'Lithuania':'LTU', 'Luxembourg':'LUX', 'Macau':'MAC', 'Macedonia':'MKD', 'Madagascar':'MDG', 'Malawi':'MWI', 'Malaysia':'MYS', 'Maldives':'MDV', 'Mali':'MLI', 'Malta':'MLT', 'Martinique':'MTQ', 'Mauritania':'MRT', 'Mauritius':'MUS', 'Mexico':'MEX', 'Moldova':'MDA', 'Montenegro':'MNE', 'Morocco':'MAR', 'Mozambique':'MOZ', 'Myanmar':'MMR', 'Namibia':'NAM', 'Nepal':'NPL', 'Netherlands':'NLD', 'New Caledonia':'NCL', 'New Zealand':'NZL', 'Nicaragua':'NIC', 'Niger':'NER', 'Nigeria':'NGA', 'North Korea':'PRK', 'Norway':'NOR', 'Pakistan':'PAK', 'Panama':'PAN', 'Papua New Guinea':'PNG', 'Paraguay':'PRY', 'Peru':'PER', 'Philippines':'PHL', 'Poland':'POL', 'Portugal':'PRT', 'Qatar':'QAT', 'Republic of the Congo':'COG', 'Romania':'ROU', 'Russia':'RUS', 'Rwanda':'RWA', 'Saudi Arabia':'SAU', 'Senegal':'SEN', 'Serbia':'SRB', 'Seychelles':'SYC', 'Sierra Leone':'SLE', 'Singapore':'SGP', 'Slovak Republic':'SVK', 'Slovenia':'SVN', 'Solomon Islands':'SLB', 'Somalia':'SOM', 'South Africa':'ZAF', 'South Korea':'KOR', 'South Sudan':'SDS', 'Spain':'ESP', 'Sri Lanka':'LKA', 'Sudan':'SDN', 'Suriname':'SUR', 'Swaziland':'SWZ', 'Sweden':'SWE', 'Switzerland':'CHE', 'Syria':'SYR', 'Taiwan':'TWN', 'Tajikistan':'TJK', 'Tanzania':'TZA', 'Thailand':'THA', 'Togo':'TGO', 'Trinidad and Tobago':'TTO', 'Tunisia':'TUN', 'Turkey':'TUR', 'Turkmenistan':'TKM', 'Uganda':'UGA', 'Ukraine':'UKR', 'United Arab Emirates':'ARE', 'United Kingdom':'GBR', 'United States':'USA', 'Uruguay':'URY', 'Uzbekistan':'UZB', 'Vanuatu':'VUT', 'Venezuela':'VEN', 'Vietnam':'VNM', 'Wallis and Futuna':'WLF', 'West Bank and Gaza Strip':'PSE', 'Western Sahara':'ESH', 'Yemen':'YEM', 'Zambia':'ZMB', 'Zimbabwe':'ZWE'}

In [130]:
def getCountryCode(row):
    return countryCodes.get(row['country_txt'])

In [138]:
tempData['countryCode'] = tempData.apply(lambda row: getCountryCode(row), axis=1)

In [144]:
tempData[['country_txt', 'countryCode']]

               country_txt countryCode
0       Dominican Republic         DOM
1                   Mexico         MEX
2              Philippines         PHL
3                   Greece         GRC
4                    Japan         JPN
...                    ...         ...
181479             Somalia         SOM
181480               Syria         SYR
181481         Philippines         PHL
181482               India         IND
181483         Philippines         PHL

[181484 rows x 2 columns]

In [167]:
years = []
for i in range(1970,2018):
    years.append(i)
yearWiseDeaths = pd.DataFrame(0, index=countryCodes.keys(), columns = years)

In [170]:
for i in years:
    yearWiseDeaths[i] = tempData[tempData['iyear']==i].groupby(by=['country_txt'])['nkill'].sum()

In [180]:
yearWiseDeaths = yearWiseDeaths.fillna(0)

In [200]:
yearWiseDeaths.max(axis=0)

1970       47.0
1971      110.0
1972      368.0
1973      210.0
1974      235.0
1975      245.0
1976      264.0
1977      103.0
1978      447.0
1979      286.0
1980     2383.0
1981     1578.0
1982     1562.0
1983     3277.0
1984     3617.0
1985     1575.0
1986      771.0
1987     1274.0
1988     1096.0
1989     1822.0
1990     1505.0
1991     1412.0
1992     1233.0
1993        0.0
1994     1571.0
1995     1020.0
1996     1371.0
1997     4266.0
1998      952.0
1999      469.0
2000      671.0
2001     3008.0
2002      615.0
2003      472.0
2004     2171.0
2005     3384.0
2006     4616.0
2007     6667.0
2008     2864.0
2009     2585.0
2010     2074.0
2011     1870.0
2012     3521.0
2013     7041.0
2014    13965.0
2015     8885.0
2016    12207.0
2017     6476.0
dtype: float64

In [43]:
tempData['nkill'].sort_values(ascending=False).head(60)

133518    1570.0
73126     1384.0
73127     1383.0
55934     1180.0
136283     953.0
133225     670.0
179671     588.0
76347      518.0
136746     517.0
170198     433.0
6629       422.0
136561     400.0
90401      400.0
31595      388.0
164327     383.0
62468      375.0
76953      344.0
25532      329.0
67589      320.0
131346     315.0
180708     311.0
135115     310.0
62869      304.0
11636      300.0
20984      300.0
158654     300.0
146573     300.0
67135      300.0
135125     298.0
130420     287.0
168368     284.0
166173     283.0
148370     280.0
68030      275.0
67334      271.0
20813      270.0
36669      270.0
174100     266.0
72646      259.0
66454      256.0
161437     250.0
22974      250.0
84010      250.0
84018      250.0
20075      241.0
153580     240.0
27086      240.0
147248     230.0
173221     230.0
21054      228.0
28561      227.0
68071      224.0
154889     224.0
128765     212.0
106143     210.0
144897     208.0
67498      206.0
67496      206.0
81896      205.0
137852     201.0
Name: nkill, dtype: float64

In [151]:
tempData[tempData['iyear']==2001].groupby(by=['country_txt'])['nkill'].sum().sort_values(ascending=False)

country_txt
United States     3008.0
Angola             846.0
India              660.0
Algeria            624.0
Colombia           576.0
                   ...
Lebanon              0.0
Ecuador              0.0
Czech Republic       0.0
Cyprus               0.0
Kazakhstan           0.0
Name: nkill, Length: 96, dtype: float64

In [59]:
tempData.groupby(by=['country_txt'])['nkill'].sum().sort_values(ascending=False)

country_txt
Iraq                78589.0
Afghanistan         39384.0
Pakistan            23822.0
Nigeria             22682.0
India               19341.0
                     ...
South Yemen             0.0
New Hebrides            0.0
Seychelles              0.0
Benin                   0.0
French Polynesia        0.0
Name: nkill, Length: 205, dtype: float64

In [183]:
countryKillCount = tempData.groupby(by=['country_txt'])['nkill'].sum().sort_values(ascending=False)

In [184]:
countryKillCount = pd.DataFrame(countryKillCount)

In [192]:
countryKillCount['country_txt'] = countryKillCount.index

In [193]:
countryKillCount['countryCode'] = countryKillCount.apply(lambda row: getCountryCode(row), axis=1)

In [198]:
countryKillCount[['nkill', 'countryCode']]

                    nkill countryCode
country_txt
Iraq              78589.0         IRQ
Afghanistan       39384.0         AFG
Pakistan          23822.0         PAK
Nigeria           22682.0         NGA
India             19341.0         IND
...                   ...         ...
Luxembourg            0.0         LUX
Benin                 0.0         BEN
Falkland Islands      0.0         FLK
Martinique            0.0         MTQ
Seychelles            0.0         SYC

[189 rows x 2 columns]

In [195]:
export_csv = countryKillCount.to_csv (r'C:\Users\ujwal\data\stonybrook\spring2020\visualization\project\data\processed\countryWiseKillCount.csv', index = None, header=True)